*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fef4ba;
}
.container{
    background-color: white;
    height: 60vh;
    min-width: 40vh;
    padding: 2rem;
    border-radius: 2rem;
}
input,button{
    margin: 2rem 0 1rem 0;
    width: 100%;
    border-radius: 1rem;
    border: none;
}

button ,.btn{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #6884d3;
}

.dropdown{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: space-between; */
    align-items: center;
    margin-bottom: 3rem;
}
.select-container{
    display: flex;
    /* background-color: black; */
    border: 0.1rem solid lightgray;
    border-radius: 1rem;
}
img{
    height: 2rem;
}

select{
    border: none;
    outline: none;
    cursor: pointer;
    /* background-color: aqua; */
    
}

.dropdown i{
    margin-top: 1rem;
}
/* form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
} */
form input{
    border:0.1rem solid lightgray;
    height: 2rem;
}
h2{
    margin-bottom: 1rem;
}
input{
    /* text-align: center; */
    font-size: 1.25rem;
}
.from,.to,#swap{
    cursor: pointer;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin: 5px;
    width: 100%;
}